extends layout

block content
  h1= title
  p Welcome to #{title}

  //RAMI: Added results div
  .results
  
  //RAMI: Added Scripts
  script(src='/javascripts/jquery-1.11.3.min.js')
  script(src='/javascripts/main.js')